
*.nc

.history

.Rhistory

*.bz2

*.docx

*.pdf

*.png

*.pptx

MIPVars_ScreenGrab.tiff

Data/
Figures/
raw_data/cms_products_excel-2.xls

raw_data/cms_products_excel.xls

raw_data/Benchmarks

*.history

.DS_Store
